*{
    font-family: 'Nunito', sans-serif;
}

body{
    margin: 0;
    padding: 0;
}

.navigation{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 10px 300px 10px 100px;
}

.navigation ul{
    list-style: none;
    display: flex;
    font-size: 18px;
}

.navigation li > a{
    margin: 0 30px;
    text-decoration: none;
    color: black;
    font-size: 18px;
}